<configuration>
    <appSettings>
        <!--TODO : Remove these value when the samples are ready to be published-->
        <add key="tenant" value="b699ae77-0b01-4053-acba-5dfe4b39af88" />
        <add key="namespace" value="DefaultNamespace" />

        <add key="address" value="https://historianmain.osipi.com" />
        <add key="resource" value="https://pihomemain.onmicrosoft.com/ocsapi" />
        <add key="appId" value="705ef260-1039-44a6-956c-5b7677931804" />
        <add key="appKey" value="FFNXAOjSLMgmMo7izR6e18lOU/M0X9zzcg7aM6AScBM=" />
    </appSettings>
</configuration>
