<configuration>
    <appSettings>
        <!--TODO : Remove these value when the samples are ready to be published-->
        <add key="namespaceId" value="QiTesting" />
        <add key="address" value="https://historianmain.osipi.com" />
        <add key="tenantId" value="b699ae77-0b01-4053-acba-5dfe4b39af88" />
        <add key="resource" value="https://pihomemain.onmicrosoft.com/ocsapi" />
        <add key="authority" value="https://login.windows.net/b699ae77-0b01-4053-acba-5dfe4b39af88" />
        <add key="clientId" value="705ef260-1039-44a6-956c-5b7677931804" />
        <add key="clientSecret" value="FFNXAOjSLMgmMo7izR6e18lOU/M0X9zzcg7aM6AScBM=" />



    </appSettings>
</configuration>
